<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Resource Form</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'create_resource.css' %}">
  

</head>
<body>
  <h1>Create a Resource</h1>
  <div class="container">
    <div class="cta-form">
      <h2>Fill out the form!</h2>
    </div>
    <form action="/create_resource" method="post" class="form">
      {% csrf_token %}
     
      <label for="type" class="form__label">Resource type</label>
      <input type="text" placeholder="Book, video, blog..." class="form__input" name="type" required />

      <label for="link" class="form__label">Link</label>
      <input type="link" placeholder="https://123.com" class="form__input" name="link" required />

      <label for="type" class="form__label">Description</label>
      <textarea name="description" cols="50" rows="10"> Text</textarea>

      <label for="subject" class="form__label">Subject</label>
      <select name="subject" class="form__input" multiple>
        <option value="" disabled selected>Select related subject(s)</option>
        <option value="Frontend">Frontend</option>
        <option value="Backed">Backend</option>
        <option value="Web3">Web3</option>
        <option value="AI/ML">AI/ML</option>
        <option value="Data_Science">Data Science</option>
        <option value="Cybersecurity">Cybersecurity</option>
        <option value="Cloud">Cloud</option>
        <option value="Game_Dev">Game Development</option>
        <option value="Mobile_Dev">Mobile Development</option>
        <option value="DevOps">DevOps</option>
      </select>

      <button type="submit" class="submit-button">Submit</button>
      
    </form>
  </div>
  </body>
</html>

