{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <title>Resource Form</title>
  <link rel="stylesheet" href="{% static 'create_resource.css' %}">
</head>

<section>
  <h2 class="justify-content-center">Create a Resource</h2>
  <div class="container">
    <div class="cta-form">
    </div>
    <form action="/create_resource" method="post" class="form">
      {% csrf_token %}

      <label for="title" class="form__label">Title</label>
      <input type="text" placeholder="Cloud computing with Azure" class="form__input" name="title" required />

      <label for="type" class="form__label">Resource type</label>
      <select class="form__input" name="type" required>
        <option value="" disabled selected>Select one</option>
        <option value="video">Video</option>
        <option value="blog">Blog</option>
        <option value="book">Book</option>
        <option value="podcast">Podcast</option>
        <option value="newsletter">Newsletter</option>
        <option value="course">Course</option>
        <option value="forum">Forum</option>
      </select>

      <label for="link" class="form__label">Link</label>
      <input type="link" placeholder="https://123.com" class="form__input" name="link" required />

      <label for="description" class="form__label">Description</label>
      <textarea placeholder="Course for beginners to advance quickly in backend development. Author is ex-meta engineer"
        name="description" cols="60" rows="7"></textarea>

      <label for="subjects" class="form__label">Subject</label>
      <select id="subjects" name="subjects" size="8" multiple required>
        <option value="" disabled selected>Select related subject(s)</option>
        <option value="Frontend">Frontend</option>
        <option value="Backend">Backend</option>
        <option value="Full Stack">Full Stack</option>
        <option value="Web3">Web3</option>
        <option value="AI/ML">AI/ML</option>
        <option value="Data Science">Data Science</option>
        <option value="Cybersecurity">Cybersecurity</option>
        <option value="Cloud">Cloud</option>
        <option value="Game Dev">Game Development</option>
        <option value="Mobile Dev">Mobile Development</option>
        <option value="DevOps">DevOps</option>
        <option value="Blockchain">Blockchain</option>
      </select>

      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
      {% endif %}
      <button type="submit" class="submit-button">Submit</button>

    </form>
  </div>
</section>

{% endblock %}