{% extends 'base.html' %}

{% block content %}

{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'index.css' %}">
  <title>skillUp</title>
</head>

<div>

  <form class="container" action="/search-results" method="post">
    {% csrf_token %}
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="selectdropdown col-md-1">
        <select name="type">
          <option value="">Category</option>
          <option value="video">Video</option>
          <option value="blog">Blog</option>
          <option value="book">Book</option>
          <option value="podcast">Podcast</option>
          <option value="newsletter">Newsletter</option>
          <option value="course">Course</option>
          <option value="forum">Forum</option>
        </select>
      </div>
      <div class="col-md-8">

        <h1 class="centered">skillUp</h1>
        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" name="search_text" class="form-control" placeholder="Want to learn? Search with keywords">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
        <div class="msg">
          {% if messages %}
          <div class="alert alert-info" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </div>
          {% endif %}
          <div style="color: blue;">
            Hint: use <em>-keyword</em> to exclude keyword from results e.g. <em>programming -java</em>
          </div>

        </div>
      </div>
    </div>

  </form>

</div>


{% endblock %}