<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>skillUp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   {% load static %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
  <a  href="/login" class="topcorner btn btn-primary" role="button"> Login</a>
  
  <form class="container" action="/search-results" method="post">
    {% csrf_token %}
    <div class="row height d-flex justify-content-center align-items-center">
      <div>
        <select name="type">
          <option value="" placeholder="">Category</option>
          <option value="video">Video</option>
          <option value="blog">Blog</option>
          <option value="book">Book</option>
          <option value="podcast">Podcast</option>
          <option value="newsletter">Newsletter</option>
          <option value="course">Course</option>
          <option value="forum">Forum</option>
        </select>
      </div>

      <div class="col-md-8">
        <h1 class="centered" style="color:#070404;" >skillUp</h1>
        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" name="search_text" class="form-control" placeholder="Want to learn? Search with keywords">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
        <div style="color:#000000;">
          Hint: use <em>-keyword</em> to exclude keyword from results e.g. <em>-java</em>
        </div>
      </div>
      
    </form>
</div>
</body>

</html>


