.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.toggle-button {
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
}