body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
}

.content {
    padding-left: 250px;
    padding-right: 250px;
}

.content .resource {
    background-color: #f8f8f8;
    border: 1px solid #e0e0e0;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.content .comments-container {
    padding: 30px;

    .comment {
        padding: 10px;

    }

    .comment-header {

        color: blue;
    }


}



.dark-mode .btn,
.dark-mode .btn-submit {
    background-color: #555555;
    color: #ffffff;
}

.dark-mode .content .resource {
    background-color: #111111;
    border: 1px solid #444444;
}


.header-container {
    margin-top: 50px;
}

.highlight-stars {
    color: #F4B30A;
    display: inline-block;
    text-shadow: 0 0 1px #F4B30A;
}

.title-star {
    color: #F0F0F0;
    display: inline-block;
    text-shadow: 0 0 1px #666666;
}

.btn-submit {
    width: 75px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-submit.light-mode {
    background-color: #000000;
    color: #ffffff;
}

.btn-submit.dark-mode {
    background-color: #ffffff;
    color: #000000;
}

.btn-submit:hover {
    background-color: #333333;
}

.btn-submit.light-mode:hover {
    background-color: #666666;
}

.btn-submit.dark-mode:hover {
    background-color: #dddddd;
}


/* Star rating style */
ul {
    margin: 0;
    padding: 0;
}

li {
    font-size: 30px;
    color: #F0F0F0;
    display: inline-block;
    text-shadow: 0 0 1px #666666;
}

#msg {
    color: #A6A6A6;
    font-style: italic;
    text-align: center;
}